#clients{
  margin: 90px 0;
  padding: 20px 0;
}
#clients .client{
  text-align: center;
}
#clients h5{
  font-weight: 100 !important;
  font-size: 22px !important;
}
#clients h4{
  color: #aaa;
}
.stars{
  width: 20px;
  height: 20px;
}
.stars5{
  transition: transform .2s;
  float: right;
  text-align:right;
}
.stars5:hover{
 transform: scale(1.2)
}
