header{
  height: 100vh;
  background-image: url("../img/backgroundimg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  position: relative;
}
header:before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.6;
}
header .container-logo-menu{
  padding: 15px 0px;
  border-bottom: 1px solid #527952;
}
.nav {
  font-family: "Montserrat", Arial, Sans-serif;
  text-align: center;
  font-weight: 600;
  justify-content: center;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}
.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav a {
  color: #527952;
  position: relative;
  text-decoration: none;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #527952;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}
.nav a:hover {
  color: #3DA35D;
  text-decoration: none;
}

header .text{
  color:white;
  text-align: center;
  margin-bottom: 50px;
}
header .text h3{
  font-family: "Montserrat", Arial, Sans-serif;
  font-weight: 400;
  color: #aaa;
  font-weight: bold;
}

@media(min-width:100px) and (max-width:798px){
  .nav a{
    padding: .5em 5em;
    font-size: 14px;

  }
  header .text h3{
    font-size: 22px;
  }
  header .text{
    margin-top: 50px;
  }
}
@media(min-width:799px) and (max-width:9299px){
  .nav a{
    padding: .5em .8em;
    font-size: 24px;

  }
  header .text h3{
    font-size: 42px;
  }
  header .text{
    margin-top: 200px;
  }
}
